# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

  Some of the popular languages that Data Scientists use are:
1. python
2. R
3. Jullia

Some of the commonly used libraries used by Data Scientists include:
1. numpy 
2. matplolib
3. SciPy
4. PyTorch
5. Pandas

| Data Science Tools |
| ------------------- |
|  jupyter |
| R studio |
| apache spark |

**objectives**
* java
* pyhon
* c 
* julia

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [10]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## author 
fadzai chowa